nav{
    color: rgba(67, 68, 85, 1);
}
ul{
    list-style: none;
}
body{
    font-family: ;
    color: ;
    background-color: ;
    text-decoration: none;
}
footer{
    background-color: rgba(46, 47, 66, 1);
    color: rgba(244, 244, 253, 1);
}
.footer{
    color: rgba(244, 244, 253, 1);
}